body {
  background-color: lemonchiffon;
  text-align: center;
}

@font-face {
  font-family: myFirstFont;
  src: url("fonts/adonais.ttf");
}

@font-face {
  font-family: mySecondFont;
  src: url("fonts/basileus.ttf");
}

h1 {
  font-family: myFirstFont;
  font-size: 50px;
}

h3 {
font-family: mySecondFont;
font-size: 30px;
}

p {
  font-family: cursive;
  font-size: 25px;
}

.cardButton {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 30vw;
  height: 300px;
  border: 2px solid grey;
  border-radius: 15px;
  background-color: white;
}

.cardText {
  background-color: lightblue;
  border: 1.5px solid lemonchiffon;
  border-radius: 15px;
  margin: 25px;
  padding: 25px 0;
  height: 150px;
  line-height: 150px;
  box-shadow: 10px 10px 5px grey;
}

.inputs {
  font-family: myFirstFont;
  font-size: 20px;
}

#newFront, #newBack {
  font-family: mySecondFont;
  font-size: 20px;
}
